@model IEnumerable<StudentMedicalCertificateSystem.Models.Students>

@{
    ViewData["Title"] = "Студенты";
}

<table>
    <thead>
        <th>ID студента</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Группа</th>
        <th>Курс</th>
        <th>Дата рождения</th>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentID</td>
                <td>@student.LastName</td>
                <td>@student.FirstName</td>
                <td>@student.Patronymic</td>
                <td>@student.Group.GroupName</td>
                <td>@student.Course</td>
                <td>@student.BirthDate.ToString("dd.MM.yyyy")</td>
            </tr>        
        }
    </tbody>
</table>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>