@model IEnumerable<StudentMedicalCertificateSystem.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Пользователи";
}

<div class="container mt-4">
    <h2>Пользователи</h2>
    <a class="btn btn-sm btn-primary mb-3" asp-controller="Admin" asp-action="CreateUser">Зарегистрировать нового пользователя</a>

    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Извините!</b> - @TempData["Error"]</span>
        </div>
    }

    @if (TempData["Success"] != null)
    {
        <div class="col-md-12 alert-success">
            <span> @TempData["Success"]</span>
        </div>
    }

    @if (Model.Any())
    {
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Имя пользователя</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Роль</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@($"{user.LastName} {user.FirstName} {user.Patronymic}")</td>
                        <td>@string.Join(", ", user.Roles)</td>
                        <td>
                            <a asp-controller="Admin" asp-action="ChangePassword" asp-route-userid="@user.UserID" class="btn btn-sm btn-secondary" style="margin: 2px;">Изменить пароль</a>
                            @if (User.Identity.Name != user.UserName)
                            {
                                <a asp-controller="Admin" asp-action="Edit" asp-route-userid="@user.UserID" class="btn btn-sm btn-warning" style="margin: 2px;">Изменить роль</a>
                                <a asp-controller="Admin" asp-action="Delete" asp-route-userid="@user.UserID" class="btn btn-sm btn-danger" style="margin: 2px;">Удалить</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Увы, но ничего не найдено</p>
    }
</div>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .container {
        max-width: 800px;
        margin: auto;
    }

    .btn {
        margin-right: 5px;
    }
</style>
