@model IEnumerable<StudentMedicalCertificateSystem.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Пользователи";
}

<div class="container mt-4">
    <h2>Пользователи</h2>
    <a class="btn btn-sm btn-primary mb-3" asp-controller="Admin" asp-action="CreateUser">Зарегистрировать нового пользователя</a>

    @if (Model.Any())
    {
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Имя пользователя</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Роль</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@($"{user.LastName} {user.FirstName} {user.Patronymic}")</td>
                        <td>@string.Join(", ", user.Roles)</td>
                        <td>
                            <a asp-controller="Admin" asp-action="Edit" asp-route-userid="@user.UserID" class="btn btn-sm btn-warning">Редактировать роль</a>
                            <a asp-controller="Admin" asp-action="Delete" asp-route-userid="@user.UserID" class="btn btn-sm btn-danger">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Увы, но ничего не найдено</p>
    }
</div>

<style>
    table {
        width: 100%;
    }

    th, td {
        padding: 12px;
        text-align: center;
    }

    th {
        background-color: #f8f9fa;
    }

    .container {
        max-width: 800px;
        margin: auto;
    }

    .btn {
        margin-right: 5px;
    }
</style>
