@model StudentMedicalCertificateSystem.ViewModels.CreateMedicalCertificateViewModel

@section Scripts {
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Подключение Bootstrap-select CSS и JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
}

<div class="container">
    <a asp-action="Index">Назад ко всем справкам</a>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Создание новой справки</h2>
            <div class="card">
                <div class="card-body">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="FullName" class="control-label">Выберите студента</label>
                            <select id="dropdown" asp-for="FullName" class="form-control selectpicker" data-live-search="true" data-size="10" data-live-search-scroll="3">
                                <option value="">Выберите студента</option>
                                @foreach (var student in ViewBag.StudentList)
                                {
                                    <option value="@student.Value">@student.Text</option>
                                }
                            </select>
                            <span asp-validation-for="FullName" class="text-danger"></span>
                            <a asp-controller="MedicalCertificate" asp-action="CreateStudentAndReturn">Нет студента?</a>
                        </div>

                        <div class="form-group">
                            <label asp-for="ClinicID" class="control-label">Выберите клинику</label>
                            <select id="studentSelect" asp-for="ClinicID" class="form-control selectpicker" data-live-search="true">
                                <option value="">Выберите клинику</option>
                                @foreach (var clinic in ViewBag.ClinicList)
                                {
                                    <option value="@clinic.Value">@clinic.Text</option>
                                }
                            </select>
                            <span asp-validation-for="ClinicID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="DiagnosisID" class="control-label">Выберите диагноз</label>
                            <select asp-for="DiagnosisID" class="form-control selectpicker" data-live-search="true">
                                <option value="">Выберите диагноз</option>
                                @foreach (var diagnosis in ViewBag.DiagnosisList)
                                {
                                    <option value="@diagnosis.Value">@diagnosis.Text</option>
                                }
                            </select>
                            <span asp-validation-for="DiagnosisID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="CertificateNumber" class="control-label">Введите номер справки (опционально)</label>
                            <input asp-for="CertificateNumber" class="form-control" type="number" min="0" />
                            <span asp-validation-for="CertificateNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Image" class="control-label">Изображение</label>
                            <input asp-for="Image"  type="file" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ClinicAnswer" class="control-label">Ответ больницы (опционально)</label>
                            <input asp-for="ClinicAnswer" type="file" class="form-control" />
                            <span asp-validation-for="ClinicAnswer" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="IssueDate" class="control-label">Дата выдачи</label>
                            <input asp-for="IssueDate" class="form-control" />
                            <span asp-validation-for="IssueDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="IlnessDate" class="control-label">Болел с</label>
                            <input asp-for="IlnessDate" class="form-control" />
                            <span asp-validation-for="IlnessDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RecoveryDate" class="control-label">Болел по</label>
                            <input asp-for="RecoveryDate" class="form-control" />
                            <span asp-validation-for="RecoveryDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Answer" class="control-label">Комментарии работника</label>
                            <input asp-for="Answer" class="form-control" />
                            <span asp-validation-for="Answer" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input class="is-confirmed-checkbox" asp-for="IsConfirmed" /> Подтверждено
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .is-confirmed-checkbox {
        transform: scale(1.5);
        margin-right: 15px;
    }

</style>




