@model StudentMedicalCertificateSystem.Models.MedicalCertificate

<h2>Подтверждение удаления</h2>

<div>
    <h4>Вы уверены, что хотите удалить эту заявку?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID сертификата
        </dt>
        <dd class="col-sm-10">
            @Model.CertificateID
        </dd>

        <dt class="col-sm-2">
            Студент
        </dt>
        <dd class="col-sm-10">
            @Model.Student.LastName @Model.Student.FirstName @Model.Student.Patronymic
        </dd>

        <dt class="col-sm-2">
            Клиника
        </dt>
        <dd class="col-sm-10">
            @Model.Clinic.ClinicName
        </dd>

        <dt class="col-sm-2">
            Дата болезни
        </dt>
        <dd class="col-sm-10">
            @Model.IlnessDate.ToString("dd.MM.yyyy") - @Model.RecoveryDate.ToString("dd.MM.yyyy")
        </dd>

        <dt class="col-sm-2">
            Комментарии сотрудника
        </dt>
        @if (Model.Answer != null)
        {
            <dd class="col-sm-10">
                @Model.Answer
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Нет
            </dd>
        }

        <dt class="col-sm-2">
            Дата создания
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedAt
        </dd>

    </dl>
    
    <br />

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="hidden" asp-for="CertificateID" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Отменить</a>
        </div>
    </form>
</div>

<style>
    /* Стилизация таблички */
    dl.row {

        width: 100%;
        margin: 0;
        border-spacing: 0;
        border-collapse: separate; /* Добавляем отдельные границы для ячеек */
    }

    dt{
        display: table-cell;
        padding: 10px;
        border: 1px solid #dee2e6;
    }
    dt {
        font-weight: bold;
    }

</style>