@model StudentMedicalCertificateSystem.Models.MedicalCertificate

<div>
    <h2>Вы уверены, что хотите удалить эту справку?</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID 
        </dt>
        <dd class="col-sm-10">
            @Model.CertificateID
        </dd>

        <dt class="col-sm-2">
            Статус
        </dt>
        <dd class="col-sm-10">
            @(Model.IsConfirmed ? "Подтверждено" : "Не подтверждено")
        </dd>

        <dt class="col-sm-2">
            Номер справки
        </dt>
        <dd class="col-sm-10">
            @(Model.CertificateNumber != null ? Model.CertificateNumber : "Нет")
        </dd>

        <dt class="col-sm-2">
            Студент
        </dt>
        <dd class="col-sm-10">
            @Model.Student.LastName @Model.Student.FirstName @Model.Student.Patronymic
        </dd>

        <dt class="col-sm-2">
            Больница
        </dt>
        <dd class="col-sm-10">
            @Model.Clinic.ClinicName
        </dd>

        <dt class="col-sm-2">
            Дата выдачи
        </dt>
        <dd class="col-sm-10">
            @Model.IssueDate?.ToString("dd.MM.yyyy")
        </dd>

        <dt class="col-sm-2">
            Период болезни
        </dt>
        <dd class="col-sm-10">
            @Model.IllnessDate?.ToString("dd.MM.yyyy") - @Model.RecoveryDate?.ToString("dd.MM.yyyy")
        </dd>

        <dt class="col-sm-2">
            Комментарии сотрудника
        </dt>

        <dd class="col-sm-10">
            @(!string.IsNullOrEmpty(Model.Answer) ? Model.Answer : "Нет")
            @Model.Answer
        </dd>

        <dt class="col-sm-2">
            Дата создания
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedAt
        </dd>

    </dl>
    
    <br />

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="hidden" asp-for="CertificateID" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Отменить</a>
        </div>
    </form>
</div>

<style>
    /* Стилизация таблички */
    dl.row {

        width: 100%;
        margin: 0;
        border-spacing: 0;
        border-collapse: separate; /* Добавляем отдельные границы для ячеек */
    }

    dt{
        display: table-cell;
        padding: 10px;
        border: 1px solid #dee2e6;
    }

    dd {
        padding-top: 10px;
    }

    dt {
        font-weight: bold;
    }

</style>