@model StudentMedicalCertificateSystem.ViewModels.EditMedicalCertificateViewModel

<!-- Подключение Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Подключение Bootstrap-select CSS и JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

@section Scripts {
    <!-- Инициализация Bootstrap-select -->
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
}

<h2>Редактирование заявки</h2>

<div class="form-group">
    <label class="control-label">ФИО студента:</label>
    <span class="fullname">@($"{Model.Student.LastName} {Model.Student.FirstName} {Model.Student.Patronymic}")</span>
</div>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="CertificateID" type="hidden" />
    <input asp-for="StudentID" type="hidden" />
    <input asp-for="CreatedAt" type="hidden" />

    <div class="form-group">
        <label asp-for="ClinicID" class="control-label">Выберите клинику</label>
        <select asp-for="ClinicID" class="form-control selectpicker" data-live-search="true">
            @foreach (var clinic in ViewBag.ClinicList)
            {
                <option value="@clinic.Value">@clinic.Text</option>
            }
        </select>
        <span asp-validation-for="ClinicID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiagnosisID" class="control-label">Выберите диагноз</label>
        <select asp-for="DiagnosisID" class="form-control selectpicker" data-live-search="true">
            @foreach (var diagnosis in ViewBag.DiagnosisList)
            {
                <option value="@diagnosis.Value">@diagnosis.Text</option>
            }
        </select>
        <span asp-validation-for="DiagnosisID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CertificatePath" class="control-label">Путь к справке</label>
        <input asp-for="CertificatePath" name="file" type="file" class="form-control" />
        <span asp-validation-for="CertificatePath" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IlnessDate" class="control-label">Дата начала болезни</label>
        <input asp-for="IlnessDate" class="form-control" />
        <span asp-validation-for="IlnessDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RecoveryDate" class="control-label">Дата выздоровления</label>
        <input asp-for="RecoveryDate" class="form-control" />
        <span asp-validation-for="RecoveryDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Answer" class="control-label">Комментарии работника</label>
        <input asp-for="Answer" class="form-control" />
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group" >
        <button type="submit" class="btn btn-primary">Изменить</button>
    </div>
</form>

<a asp-action="Index">Назад ко всем справкам</a>