@using StudentMedicalCertificateSystem.ViewModels;
@using StudentMedicalCertificateSystem.Data;
@model StudentMedicalCertificateSystem.ViewModels.ShowMedicalCertificateViewModel

@{
    ViewData["Title"] = "Справки";
}

@section Scripts {
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Подключение Bootstrap-select CSS и JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.is-confirmed-checkbox').change(function () {
                var isChecked = $(this).is(':checked');
                var certificateId = $(this).data('certificate-id');
                $.ajax({
                    url: '@Url.Action("UpdateIsConfirmed", "MedicalCertificate")',
                    type: 'POST',
                    data: {
                        certificateId: certificateId,
                        isChecked: isChecked
                    },
                    success: function (result) {
                        // Обработка успешного обновления
                        if (isChecked) {
                            $('.confirmation-status').text('подтверждено');
                        } else {
                            $('.confirmation-status').text('не подтверждено');
                        }
                    }
                });
            });
        });
    </script>
}

@functions {
    string GetPaginationUrl(int page, ShowMedicalCertificateViewModel model)
    {
        if (model.FilterViewModel != null)
        {
            return Url.Action("Filter", new { page = page, studentData = model.FilterViewModel.StudentData, programId = model.FilterViewModel.ProgramID, illnessDate = model.FilterViewModel.IllnessDate, recoveryDate = model.FilterViewModel.RecoveryDate });
        }
        else
        {
            return Url.Action("Index", new { page = page });
        }
    }

    string GetDownloadingUrl(ShowMedicalCertificateViewModel model)
    {
        if (model.FilterViewModel != null)
        {
            return Url.Action("DownloadFilteredExcelReport", new { studentData = model.FilterViewModel.StudentData, programId = model.FilterViewModel.ProgramID, illnessDate = model.FilterViewModel.IllnessDate, recoveryDate = model.FilterViewModel.RecoveryDate });
        }
        else
        {
            return Url.Action("DownloadExcelReport");
        }
    }
}

<div class="container">
    @if (User.IsInRole(UserRoles.User) || User.IsInRole(UserRoles.Admin))
    {
        <a class="btn btn-sm btn-primary" href="@Url.Action("Create")">Добавить новую справку</a>
        <a class="btn btn-sm btn-primary" href="@GetDownloadingUrl(Model)">Скачать отчет</a>
    } 
    <br />

    @await Html.PartialAsync("_FilterPartial", new StudentMedicalCertificateSystem.ViewModels.FilterCertificatesViewModel())
    @if (Model.Certificates.Count() != 0)
    {
        <table>
            <thead>
            <th>ID</th>
            <th>Статус</th>
            <th>Студент</th>
            <th>Группа</th>
            <th>Больница</th>
            <th>Диагноз</th>
            <th>№</th>
            <th>Дата выдачи</th>
            <th>Период болезни</th>
            <th>Действия</th>
            </thead>
            <tbody>
                @foreach (var certificate in Model.Certificates)
                {
                    <tr>
                        <td>@certificate.CertificateID</td>
                        <td><input class="is-confirmed-checkbox" type="checkbox" data-certificate-id="@certificate.CertificateID" @(certificate.IsConfirmed ? "checked" : "") /></td>
                        <td>@certificate.Student.LastName @certificate.Student.FirstName @certificate.Student.Patronymic</td>
                        <td>@certificate.Student.Group.GroupName</td>
                        <td>@certificate.Clinic.ClinicName</td>
                        <td>@certificate.Diagnosis.DiagnosisName @certificate.Diagnosis.Code</td>
                        <td>
                            @if (certificate.CertificateNumber != null)
                            {
                                <span>@certificate.CertificateNumber</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td>@certificate.IssueDate?.ToString("dd.MM.yyyy")</td>
                        <td>@certificate.IllnessDate?.ToString("dd.MM.yyyy") - @certificate.RecoveryDate?.ToString("dd.MM.yyyy")</td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#certificateDetailsModal_@certificate.CertificateID" class="btn btn-sm btn-info" style="margin: 2px;">Детали</a>
                            @if(User.IsInRole(UserRoles.User) || User.IsInRole(UserRoles.Admin))
                            {
                                <a asp-controller="MedicalCertificate" asp-action="Edit" asp-route-id="@certificate.CertificateID" class="btn btn-sm btn-secondary" style="margin: 2px;">Редактировать</a>
                                <a asp-controller="MedicalCertificate" asp-action="Delete" asp-route-id="@certificate.CertificateID" class="btn btn-sm btn-danger" style="margin: 2px;"> Удалить</a>
                            }
                        </td>
                    </tr>

                    <div class="modal fade" id="certificateDetailsModal_@certificate.CertificateID" tabindex="-1" role="dialog" aria-labelledby="certificateDetailsModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="certificateDetailsModalLabel">Детали справки</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="certificate-details">
                                        <p><strong>Статус:</strong>
                                            @if(certificate.IsConfirmed)
                                            {
                                                <span class="confirmation-status"> подтверждено</span>
                                            }
                                            else
                                            {
                                                <span class="confirmation-status"> не подтверждено</span>
                                            }
                                        </p>
                                        <p><strong>ФИО студента:</strong> @certificate.Student.LastName @certificate.Student.FirstName @certificate.Student.Patronymic</p>
                                        <p><strong>Группа:</strong> @certificate.Student.Group.GroupName</p>
                                        <p><strong>Больница:</strong> @certificate.Clinic.ClinicName</p>
                                        <p><strong>Диагноз:</strong> @certificate.Diagnosis.DiagnosisName @certificate.Diagnosis.Code</p>
                                        <p><strong>Номер справки:</strong> 
                                            @if(certificate.CertificateNumber != null)
                                            {
                                                <span>@certificate.CertificateNumber</span>
                                            }
                                            else
                                            {
                                                <span>нет</span>
                                            }
                                        </p>
                                        <p><strong>Дата выдачи:</strong> @certificate.IssueDate?.ToString("dd.MM.yyyy")</p>
                                        <p><strong>Период болезни:</strong> с @certificate.IllnessDate?.ToString("dd.MM.yyyy") по @certificate.RecoveryDate?.ToString("dd.MM.yyyy")</p>
                                        <p><strong>Сотрудник:</strong>
                                            @if(certificate.User != null)
                                            {
                                                <span>@certificate.User.LastName @certificate.User.FirstName @certificate.User.Patronymic</span>
                                            }
                                            else
                                            {
                                                <span>нет</span>
                                            }
                                        </p> 
                                        <p><strong>Комментарий:</strong> 
                                            @if (!string.IsNullOrEmpty(certificate.Answer))
                                            {
                                                <span>@certificate.Answer</span>
                                            }
                                            else 
                                            { 
                                                <span>нет</span>
                                            }
                                        </p>
                                        <p><strong>Дата создания:</strong> @certificate.CreatedAt</p>
                                        <p><strong>Дата обновления:</strong> @certificate.UpdatedAt</p>
                                    </div>
                                    <div class="image">
                                        <p><strong>Изображение справки:</strong></p>
                                        <a target="_blank" href="@Url.Action("ImageView", "MedicalCertificate", new { imagePath = certificate.CertificatePath })">
                                            <img src="@certificate.CertificatePath" alt="Справка">
                                        </a>
                                    </div>
                                    @if (certificate.ClinicAnswerPath != null)
                                    {
                                        <p><strong>Ответ из больницы:</strong></p>
                                        <div class="image">
                                            <a target="_blank" href="@Url.Action("ImageView", "MedicalCertificate", new { imagePath = certificate.ClinicAnswerPath })">
                                                <img src="@certificate.ClinicAnswerPath" alt="Ответ из больницы">
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <p><strong>Ответ из больницы:</strong> нет</p>
                                    }

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>
        <div class="pagination">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    @if (Model.PagingInfo.TotalPages > 1)
                    {
                        <li class="page-item @(Model.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
                            <a class="page-link" href="@GetPaginationUrl(1, Model)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>

                        @for (int i = Math.Max(1, Model.PagingInfo.CurrentPage - 10); i <= Math.Min(Model.PagingInfo.TotalPages, Model.PagingInfo.CurrentPage + 10); i++)
                        {
                            <li class="page-item @(i == Model.PagingInfo.CurrentPage ? "active" : "")">
                                <a class="page-link" href="@GetPaginationUrl(i, Model)">@i</a>
                            </li>
                        }

                        <li class="page-item @(Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages ? "disabled" : "")">
                            <a class="page-link" href="@GetPaginationUrl(Model.PagingInfo.TotalPages, Model)" aria-label="Next">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>

    }
    else
    {
        <p>Увы, но ничего не найдено</p>
    }
</div>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    td:nth-child(2), td:nth-child(7) {
        text-align:center;
    }

    td:nth-child(4) {
        white-space: nowrap;
    }

    td:nth-child(9) {
        white-space: nowrap;
    }

    td:last-child {
        padding: 2px;
    }

    .certificate-image {
        max-width: 100%;
        max-height: 100%;
    }

    .image img {
        max-width: 100%; /* Максимальная ширина изображения будет равна ширине окна */
        height: auto; /* Автоматическое масштабирование высоты для сохранения пропорций */
        display: block; /* Убирает пустые промежутки, если они есть */
        margin: 0 auto; /* Центрирует изображение по горизонтали */
    }

    .is-confirmed-checkbox {
        transform: scale(1.5); 
        margin-right: 10px; 
    }

</style>
