@model StudentMedicalCertificateSystem.Models.Student

<h2>Подтверждение удаления</h2>

<div>
    <h4>Вы уверены, что хотите удалить этого студента?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID студента
        </dt>
        <dd class="col-sm-10">
            @Model.StudentID
        </dd>

        <dt class="col-sm-2">
            ФИО студента
        </dt>
        <dd class="col-sm-10">
            @Model.LastName @Model.FirstName @Model.Patronymic
        </dd>

        <dt class="col-sm-2">
            Группа
        </dt>
        <dd class="col-sm-10">
            @Model.Group.GroupName
        </dd>

        <dt class="col-sm-2">
            Учебный офис
        </dt>
        <dd class="col-sm-10">
            @Model.Office.OfficeName
        </dd>

        <dt class="col-sm-2">
            Курс
        </dt>
        <dd class="col-sm-10">
            @Model.Course
        </dd>

        <dt class="col-sm-2">
            Дата рождения
        </dt>
        <dd class="col-sm-10">
            @Model.BirthDate.ToString("dd.MM.yyyy")
        </dd>

    </dl>

    <br />

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="hidden" asp-for="StudentID" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Отменить</a>
        </div>
    </form>
</div>

<style>
    dl.row {
        width: 100%;
        margin: 0;
        border-spacing: 0;
        border-collapse: separate; 
    }

    dt {
        display: table-cell;
        padding: 10px;
        border: 1px solid #dee2e6;
    }

    dt {
        font-weight: bold;
    }

</style>
