@model StudentMedicalCertificateSystem.ViewModels.EditStudentViewModel

<a asp-action="Index">Назад ко всем справкам</a>


@section Scripts {
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Подключение Bootstrap-select CSS и JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Редактирование студента</h2>
            <div class="card">
                <div class="card-body">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input asp-for="StudentID" type="hidden" />

                        <div class="form-group">
                            <label asp-for="LastName" class="control-label">Введите фамилию</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label">Введите имя</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Patronymic" class="control-label">Введите отчество</label>
                            <input asp-for="Patronymic" class="form-control" />
                            <span asp-validation-for="Patronymic" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="GroupID" class="control-label">Выберите группу</label>
                            <select id="studentSelect" asp-for="GroupID" class="form-control selectpicker" data-live-search="true">
                                <option value="">Выберите группу</option>
                                @foreach (var group in ViewBag.GroupList)
                                {
                                    <option value="@group.Value">@group.Text</option>
                                }
                            </select>
                            <span asp-validation-for="GroupID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="OfficeID" class="control-label">Выберите учебный офис</label>
                            <select asp-for="OfficeID" class="form-control selectpicker" data-live-search="true">
                                <option value="">Выберите учебный офис</option>
                                @foreach (var office in ViewBag.OfficeList)
                                {
                                    <option value="@office.Value">@office.Text</option>
                                }
                            </select>
                            <span asp-validation-for="OfficeID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Course" class="control-label">Выберите курс</label>
                            <input asp-for="Course" class="form-control" type="number" value="1" min="1" max="5" />
                            <span asp-validation-for="Course" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="BirthDate" class="control-label">Дата рождения</label>
                            <input asp-for="BirthDate" class="form-control" />
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Изменить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>